/* components/Layout.module.css */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 1rem;
  text-align: center;
  z-index: 1;
}

.main {
  flex: 1;
  padding: 2rem;
  z-index: 1;
}

.footer {
  position: fixed;
  background-color: rgba(0, 0, 0,0);
  color: white;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  z-index: 1;
  height: 5vh;
  bottom: 0;
}